name: SIASISTEN Scraper Bot

on:
  schedule:
    - cron: '* * * * *' # Berjalan setiap 15 menit
  workflow_dispatch:      # Tombol untuk menjalankan manual

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write     # Izin untuk menyimpan update file JSON ke repo
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Scraper
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          SESSION_ID: ${{ secrets.SESSION_ID }}
        run: python main.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          git add last_vacancies.json
          git commit -m "Update last vacancies data [skip ci]" || exit 0
          git push